<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
             alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button
                class="p-link layout-topbar-button"
                (click)="changeColorScheme(getColorSchemePayload(layoutService.config().colorScheme))">
            <i [class]="'pi ' + getColorSchemeIcon(layoutService.config().colorScheme)"></i>
            <span>{{ layoutService.config().colorScheme === 'light' ? 'Dark' : 'Light' }}</span>
        </button>
        <p-menu #menu [model]="itemsPerfil" [popup]="true"/>
        <button class="p-link layout-topbar-button"
                (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
        </button>
    </div>
</div>
